Witaj,

Otrzymujesz ten e-mail ponieważ Ty (albo ktoś podający się za Ciebie) poprosił o reset hasła dla Twojego konta w sklepie BoboCenter.
Jeżeli nie prosiłeś(aś) o ten e-mail po prostu zignoruj go.

Jeśli chcesz zresetować hasło poprostu kliknij poniższy link:
 
<%= @edit_password_reset_url %>
 
Jeśli powyższy adres URL nie działa, spróbuj skopiować i wkleć go w pasku adresu Twojej przeglądarki.
Jeśli nadal będziesz miał problemy skontaktuj się z nami. Dane kontaktowe znajdziesz na stronie sklepu BoboCenter.pl w zakładce Kontakt.

Serdeczne pozdrowienia,
BoboCenter.pl
