<h2>Sposób dostawy</h2>
<div style="width: 400px; margin-bottom: 30px; ">
<fieldset id='shipping-method-blue'>
  <legend><%= image_tag "poczta_polska_logo.jpg" %></legend>
  <div class="inner">
    <div id="methods">
      <p class="field radios">
        <% @order.rate_hash.each do |shipping_method| %>

		  <% if shipping_method[:name].include?("kurier") %>
			</p></div></div></fieldset>
		    <fieldset id='shipping-method-red'>
			  <legend><%= image_tag "dpd_logo.png" %></legend>
			  <div class="inner">
			    <div id="methods">
			      <p class="field radios">
		  <% end %>

          <label>
            <%= radio_button(:order, :shipping_method_id, shipping_method[:id]) %>
            <%= shipping_method[:name] %> <%= number_to_currency shipping_method[:cost] %> 
			<% if shipping_method[:shipping_method].calculator.respond_to?('total_weight') %>
			  <span style="font-weight: normal; ">( <%= shipping_method[:shipping_method].calculator.total_weight / 1000 %> kg )</span>
          	<% end %>
		  </label><br />
        <% end %>
      </p>
    </div>
    <% if Spree::Config[:shipping_instructions] && @order.rate_hash.present? %>
      <p id="minstrs">
        <%= form.label :special_instructions, t("shipping_instructions") %><br />
        <%= form.text_area :special_instructions, :cols => 40, :rows => 7 %>
      </p>
    <% end %>
  </div>
</fieldset>
</div>

<div class="form-buttons">
  <input type="submit" class="continue button primary" value="<%=t("save_and_continue") %>"/>
</div>

<div style="padding-top: 30px; ">
<a href="#" onclick="javascript:window.open('../wysylka_i_zwroty','google','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=550, height=550');">Więcej informacji o cennikach wysyłki</a>
</div>