<div id="footer">
  <div class="left">
    <%= hook :footer_left do %>
      <ul id="footer-bar">	
		<% for page in Page.header_links do %>
		  <li><%= link_to page.title, page.link %></li>
		<% end %>
	  </ul>
    <% end %>
  </div>
  <div class="right">
    <%= hook :footer_right %>
  </div>
</div>   
<%= render 'shared/google_analytics' %>
