<div id="taxonomies" class="sidebar-item">
<% get_taxonomies.each do |taxonomy| %>
  <ul class="navigation-list">
	  <li class="root"><%= taxonomy.name %></li>
	  <% taxonomy.root.children.each do |taxon| %>
	    <li<%= ' class="current"' if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %>><%= link_to taxon.name, seo_url(taxon), :class => 'tax_child' %></li>
	    
	    <% if @taxon and ([@taxon] + @taxon.ancestors).include?(taxon) %>
			<% taxon.children.each do |tax| %>
		  		<li <% if @taxon and ([@taxon] + @taxon.ancestors).include?(tax) %>class="current"<% end %>>
		  		<%= link_to tax.name, seo_url(tax) %></li>
			<% end %>
	    <% end %>
	
	  <% end %>
	</ul>
<% end %>
<br>
</div>
