<table class="index">
  <tr>
    <th><%= "#{t('spree.date')}/#{t('spree.time')}" %></th>
    <th><%= t("amount") %></th>
    <th><%= t("payment_method") %></th>
    <th><%= t("state") %></th>
    <th>Actions</th>
  </tr>
  <% payments.each do |payment| %>
    <tr>
      <td><%= payment.created_at.to_s(:date_time24) %></td>
      <td><%= number_to_currency(payment.amount) %></td>
      <td><%= link_to payment_method_name(payment), admin_order_payment_path(@order, payment) %></td>
      <td><%= t(payment.state, :scope => :payment_states) %></td>
      <td>
        <% payment.actions.each do |action| %>
          <%= button_to t(action), fire_admin_order_payment_path(@order, payment, :e => action), :method => :put %>
        <% end %>
      </td>
    </tr>
  <% end %>
</table>
