Drogi kliencie,

Twoje zamówienie zostało wysłane

========================================================================
Zamówione produkty:
========================================================================
<% for item in @shipment.line_items %>
    <%= item.variant.product.name %> (<%= item.quantity %>)
<% end %>
========================================================================

<%= "Śledzenie przesyłki: #{@shipment.tracking}" if @shipment.tracking %>

Pozdrawiamy!
BoboCenter.pl

email: sklep@bobocenter.pl
gg: 8996142
tel. 609044318