Witaj <%= @order.bill_address.firstname %>,

Twoje zamówienie nr <%= @order.number %> zostało ANULOWANE.

=========================================================================
Zamówione produkty (ANULOWANE):
=========================================================================
<% for item in @order.line_items %>
    <%=item.variant.product.name%>   <%=item.quantity%> x <%= number_to_currency item.price %> = <%= number_to_currency(item.price * item.quantity) %>
<% end %>
=========================================================================
Suma częściowa: <%= number_to_currency @order.item_total %>
<% @order.adjustments.each do |adjustment| %>
<%= "#{adjustment.label}: #{number_to_currency adjustment.amount}"%>
<% end %>
Do zapłaty: <%= number_to_currency @order.total %>
