Dziękujemy za dokonanie zakupów w sklepie BoboCenter.

Zamówienie nr: <%= @order.number %>
Z dnia: <%= @order.created_at %>
Do zapłaty: <%= number_to_currency @order.total %>

=========================================================================
Zamówione produkty:
=========================================================================
<% for item in @order.line_items %>
    <%=item.variant.product.name%>   <%=item.quantity%> x <%= number_to_currency item.price %> = <%= number_to_currency(item.price * item.quantity) %>
<% end %>
=========================================================================
Suma częściowa: <%= number_to_currency @order.item_total %>
<% @order.adjustments.each do |adjustment| %>
<%= "#{adjustment.label}: #{number_to_currency adjustment.amount}"%>
<% end %>
Do zapłaty: <%= number_to_currency @order.total %>

Sposób płatności: <%= @order.payment_method.name %>
Sposób wysyłki: <%= @order.shipping_method.name %>

Kupujący:
    <%= @order.bill_address.firstname %> <%= @order.bill_address.lastname %>
    <%= @order.bill_address.address1 %> <%= ", #{@order.bill_address.address2}" unless @order.bill_address.address2.blank? %>
    <%= "#{@order.bill_address.zipcode}, #{@order.bill_address.city}" %>
    tel. <%= @order.bill_address.phone %><%= @order.bill_address.alternative_phone unless @order.bill_address.alternative_phone.blank? %>

Adres dostawy:
    <%= @order.ship_address.firstname %> <%= @order.ship_address.lastname %>
    <%= @order.ship_address.address1 %> <%= ", #{@order.ship_address.address2}" unless @order.ship_address.address2.blank? %>
    <%= "#{@order.ship_address.zipcode}, #{@order.ship_address.city}" %>
    tel. <%= @order.ship_address.phone %><%= @order.ship_address.alternative_phone unless @order.ship_address.alternative_phone.blank? %>
		
Informacje dodatkowe:

<% if @order.payment_method.name.include?("Przelew na konto bankowe") %>
Zamówienie zostanie zrealizowane z chwilą gdy na nasze konto wpłynie kwota tytułem płatności za zamówienie.
Kwotę, w wysokości <%= number_to_currency @order.total %> prosimy wpłacić na poniższe konto bankowe:

    TINETI Justyna Szczyrba
    ul. R. Traugutta 8/37
    26-200 Końskie
    mBank ?
    Nr konta: ?
    Tytułem: Zamówienie nr <%= @order.number %>
<% end %>
<% if @order.payment_method.name.include?("PayPal Express") %>
Dziękujemy za dokonanie płatności za pomocą systemu PayPal Express.
Zamówienie jest w trakcie realizacji.
<% end %>

Status swojego zamówienia możesz monitorować 24h na dobę.
Jeśli masz jakiekolwiek pytania odnośnie swojego zamówienia - skontaktuj się z obsługą naszego sklepu (odpowiadając na tę wiadomość) 

Pozdrawiamy!
BoboCenter.pl

email: sklep@bobocenter.pl
gg: 8996142
tel. 609044318