<%
  if @product.has_stock?
	dostepnosc = "Dostępny"
	styl = "green"
  else
	dostepnosc = "Niedostępny"
	styl = "red"
  end
%>
<table id="product-properties" class="table-display">
  <tr>
	<td style="width: 100px; font-weight: bold; ">Dostępność</td>
  	<td style="width: 240px; font-weight: bold; color: <%= styl %>;"><%= dostepnosc %></td>
  <tr>
	<td style="width: 100px; font-weight: bold; ">Producent</td>
  	<td style="width: 240px; "><%= @product.manufacturer.name %></td>
  </tr>
<% unless @product_properties.empty? %>
  <% for product_property in @product_properties %>
    <tr>
  	  <td style="width: 100px; font-weight: bold; "><%= product_property.property.presentation %></td>
  	  <td style="width: 240px; vertical-align: middle;"><%= product_property.value %></td>
    </tr>
  <% end %>
<% end %>
</table>
