<% #dodanie menu kategorii %>
<% content_for :sidebar do %>
    <!--% if "products" == @current_controller && @taxon %-->
      <!--%= render "shared/filters" %-->
    <!--% else %-->
      <%= render "shared/taxonomies" %>
    <!--% end %-->
<% end %>
<% #end dodanie %>

<% @body_id = 'product-details' %>
<h1><%= @product.name %></h1>

<div id="product-images">
  <%= hook :product_images do %>
  <div id="main-image">
    <!--%= render 'image' %   if not MagicZoom-->
	<%= link_to product_image(@product), @product.images.first.attachment.url(:large), :class => "MagicZoomPlus", :id => "Zoomer" %>
  </div>
  <div id="thumbnails">
    <%= render 'thumbnails', :product => @product %>
  </div>
  <% end %>
</div>

<div id="product-description">
  <%= hook :product_description do %>
    <%= product_description(@product) rescue t("product_has_no_description") %>
  <% end %>
  <%= hook :product_properties do %>
    <%= render 'properties' %>
  <% end %>
<!--/div-->

<%= hook :cart_form do %>
  <div id="cart-form">
    <%= render 'cart_form' %>
  </div>
<% end %>
</div>

<%= render 'taxons' %>

