<p>
  <%= "#{address.firstname} #{address.lastname}" %><br />
  <%= address.address1 %> <%= ", #{address.address2}" unless address.address2.blank? %><br />
  <%= "#{address.zipcode}, #{address.city}" %><br />
  tel. <%= "#{address.phone}" %><%= address.alternative_phone unless address.alternative_phone.blank? %>
</p>
