<%= render :partial => 'shared/doc_and_xmlns'%>
<head>
<%= hook :inside_head do %>
  <%= render :partial => 'shared/head'%>
<% end %>
</head>
<%
if @body_class.nil?
  if content_for?(:sidebar)
    @body_class = 'two-col'
  else
    @body_class = 'one-col'
  end
end
 %>
<body class="<%= @body_class %>" id="<%= @body_id %>">
  	<div id="wrapper-header" class="container">
		<div id="logo"><%= logo %></div>
		<div id="wrapper-logo">	
	    </div>
	  </div>
	  <div id="wrapper-nav-bar" class="container">
	    
		<!-- PayPal Logo --><div style="display: inline; "><a href="#" onclick="javascript:window.open('https://www.paypal.com/pl/cgi-bin/webscr?cmd=xpt/Marketing/popup/OLCWhatIsPayPal-outside','olcwhatispaypal','toolbar=no, location=no, directories=no, status=no, menubar=no, scrollbars=yes, resizable=yes, width=400, height=350');"><img  src="https://www.paypal-marketing.pl/logo/bnr_nowaccepting_150x40.gif" border="0" alt="Znak akceptacji"></a></div><!-- PayPal Logo -->
	 
	    <div id="login-bar">	
	        <ul id="nav-bar">
		      <%= render 'shared/login_bar' %>
			  <% if store_menu? %>
			    <%= render 'shared/store_menu' %>
			  <% end %>
			  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
			</ul>	
		</div>
	  </div>
	  <div id="wrapper" class="container">
	    <% if content_for?(:sidebar) %> 
	    <div id="sitebar">
	    <div id="cat-header"></div>
	    <div id="cat-body">
	      <%= hook :sidebar do %>
	        <%= yield :sidebar %>
	      <% end %>
	    </div>
	    <div id="cat-footer"></div>
	    </div>
	    <% end %>


	    <div id="content">
		  	<% if content_for?(:sidebar) %> 
			    <div id="search">
			        <%= render 'shared/search' %>
			    </div>
			    <hr>
			  <% end %>
	      <%= breadcrumbs(@taxon) if @taxon %>
	      <% if flash.notice %>
	      <div class="flash notice"><%= flash.notice %></div>
	      <% end %>
	      <% if flash[:error] %>
	      <div class="flash errors"><%= flash[:error] %></div>
	      <% end %>
	      <%= yield %>
	    </div>
	  </div>
	  <div id="wrapper-footer" class="container">
	  	<br><br><br><br><br><%= render :partial => 'shared/footer'%><br><br><br>
	  </div>
	</body>
	</html>
