<% if payment.state == "checkout" %>
  <%= button_to "Potwierdź wpłatę", admin_przelew_potwierdz_path(payment) %>
<% else %>
  <%= button_to "Anuluj potwierdzenie wpłaty", admin_przelew_anuluj_path(payment) %>
<% end %>